doctype html
html
 head
  title Grade Summary
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  h1 Grade Summary
  p
   div
    div Name: #{name} &nbsp;&nbsp;&nbsp;&nbsp;
     a(href="/grade_edit/#{id}") EDIT 
    div Students:
    ul
     each student in students
      li 
       a(href="/student/#{student.id}") #{student.name}
    div Subjects:
    ul
     each subject in subjects
       li 
        a(href="/subject/#{subject.id}") #{subject.name}
      
